{% extends 'jobs/base.html' %}

{% block title %}
  Vagas de emprego
{% endblock %}


{% block body %}
<h1>Início</h1>

<a class="btn btn-primary my-4" href="{% url 'position_create' %}" role="button">
  <i class="fa fa-plus-circle"></i>
  nova vaga
</a>

{% if message %}
<div class="alert alert-{{message.type}} alert-dismissible fade show" role="alert">
  {{message.text}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<table id="table" class="display">
  <thead>
    <tr>
      <th>Nome da vaga</th>
      <th>Faixa salarial</th>
      <th>Escolaridade mínima</th>
      <th>Visualizar vaga</th>
      <th>Candidatos</th>
    </tr>
  </thead>
  <tbody>
    {% for p, num_applications in position2applications_count %}
      <tr>
        <td>{{ p.title }}</td>
        <td>{{ p.get_salary_display }}</td>
        <td>{{ p.get_min_education_display }} {{ i.unit }}</td>
        <td class="d-flex justify-content-center">
            <a href="{% url 'position_view' position_id=p.id %}">
                <i class="fa fa-eye ml-1"></i>
            </a>
        </td>
        <td>{{ num_applications }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
{% block scripts %}
<script>
  $(document).ready( function () {
    $('#table').DataTable({
      'language': {
        "sEmptyTable": "Nenhum registro encontrado",
        "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
        "sInfoFiltered": "(Filtrados de _MAX_ registros)",
        "sInfoPostFix": "",
        "sInfoThousands": ".",
        "sLengthMenu": "_MENU_ resultados por página",
        "sLoadingRecords": "Carregando...",
        "sProcessing": "Processando...",
        "sZeroRecords": "Nenhum registro encontrado",
        "sSearch": "Pesquisar",
        "oPaginate": {
          "sNext": "Próximo",
          "sPrevious": "Anterior",
          "sFirst": "Primeiro",
          "sLast": "Último"
        },
        "oAria": {
          "sSortAscending": ": Ordenar colunas de forma ascendente",
          "sSortDescending": ": Ordenar colunas de forma descendente"
        },
        "select": {
          "rows": {
            "_": "Selecionado %d linhas",
            "0": "Nenhuma linha selecionada",
            "1": "Selecionado 1 linha"
          }
        },
        "buttons": {
          "copy": "Copiar para a área de transferência",
          "copyTitle": "Cópia bem sucedida",
          "copySuccess": {
            "1": "Uma linha copiada com sucesso",
            "_": "%d linhas copiadas com sucesso"
          }
        }
      }


    });
  } );
</script>
{% endblock %}
