<form action="{{request.path}}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="title">Nome da vaga</label>
    <input type="text" class="form-control" name="title" required>
  </div>


  {% for field, field_slug, model_choices in choices %}
  <div class="form-group">
    <label for="title">{{field_slug}}</label>
    {% for c, c_slug in model_choices %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="{{field}}" value="{{c}}">
      <label class="form-check-label">{{c_slug}}</label>
    </div>
    {% endfor %}
  </div>
  {% endfor %}

  <div class="form-group">
    <label for="requirements">Requisitos</label>
    <textarea class="form-control" name="requirements" id="requirements" rows="4" maxlength="50" required></textarea>
  </div>

  {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
  {% endif %}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
