{% extends 'jobs/base.html' %}

{% block title %}
  Visualizar vaga
{% endblock %}

{% block body %}
<h1 class="my-2">{{position.title}}</h1>
<span class="row">
    <strong class="mr-1">Empresa:</strong><p>{{position.publisher.full_name}}</p>
</span>
<span class="row">
    <strong class="mr-1">Escolaridade mínima:</strong>
    <p>{{position.get_min_education_display}}</p>
</span>
<span class="row">
    <strong class="mr-1">Faixa salarial:</strong><p>{{position.get_salary_display}}</p>
</span>
<span class="row">
    <strong class="mr-1">Requisitos:</strong><p>{{position.requirements}}</p>
</span>

{% if profile.role == 'candidate' %}
<a class="btn btn-primary my-4" href="{% url 'position_apply' position.id %}" role="button">
  <i class="fa fa-sign-in"></i>
  candidatar
</a>
{% endif %}

{% endblock %}
